  /* commentry */
  .j-container {
    position: relative;
    height: 100%;
    background-color: #ddc5a2;
  }
  #write-cmnt {
    position: fixed;
   width: 100%; 
   left: 0px;
   bottom: 20px;
   display: flex;
   justify-content: center;
  }
  .j-comnt-form {
    width: 65%; 
    height: 120.4px;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    /* background-color: #fff; */
    background-color: #eab872;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  }
  .j-comnt-form fieldset {
    position: relative;
    outline: none;
    border: 2px solid #571845;
    border-radius: 8px;
    padding: 5px 10px;
  }
  .j-comnt-form fieldset legend {
    color: #571845;
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
  }
  .j-comnt-form fieldset textarea {
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    padding: 5px 10px;
    margin: auto;
  }
  .textarea {
    display: flex;
    margin: 10px;
  }
  .post-button {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .post-button input {
    padding: 5px 10px;
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;
    background-color: #571845;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 8px;
  }
  .j-commentry-down {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    width: 40px;
    height: 40px;
    top: -18px;
    z-index: 2;
    background-color: #571845;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transform: rotate(-90deg);
    border-radius: 50%;
    box-shadow: -10px 0px 16px 0 rgba(0, 0, 0,0.3);
  
  }
  .j-commentry-down span {
    display: block;
    width: 15px;
    height: 29px;
  }
  
  #write-cmnt .active span{ 
    transform: rotate(-180deg);
    transition: 0.7s;
  }
  #write-cmnt form.active {
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    /* top: 0px; */
    overflow: hidden;
    transition: 0.7s;
  }
  .j-comnt-form fieldset.active {
    opacity: 0%;
    transition: 0.4s;
  }
  .cmnt-poster {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cmnt-Post-box {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding: 20px 10px;
    margin: 5px 0px;
    border-radius: 8px;
    /* box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.1), */
    /* -2px 2px 4px 1px rgba(255, 255, 255, 0.8), */
    /* -3px 3px 0px 1px rgba(0, 0, 0, 0.1); */
  }
  .icon-container {
    padding: 0px 10px;
  }
  .circle-nam-icon {
    height: 50px;
    width: 50px;
    background-color: #571845;
    color: #fff;
    border-radius: 50%;
    text-transform: capitalize;  
  }
  .post-container {
    padding: 0 10px;
    margin-left: 14px;
    width: 100%;
  }
  .write-cmnt {
    position: relative;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 0px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.1),
    -2px 2px 4px 1px rgba(255, 255, 255, 0.8),
    -3px 3px 0px 1px rgba(0, 0, 0, 0.1); 
  }
  .focusIcon {
    position: absolute;
    width: 17px;
    height: 17px;
    left: -8px;
    top: 14px;
    box-shadow: -2px 3px 2px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transform: rotate(45deg);
  }
  .cmnt-text {
  width: 100%;
  padding: 10px;
  word-wrap: break-word;
  }