body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.intro img {
    width: 50%;
}

.intro-text {
    text-align: center;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.Intro-content{
    margin-left: 20px;
    padding: 0;

}
.midd{
    text-align: center;
}


  