* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: #decaae;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#main {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
}

#nav {
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #decaae;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#nav img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}

#loginOrProfile a {
    display: flex;
    align-items: center;
}

#loginOrProfile img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 20px auto;
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligning items to start */
    flex: 2;
    padding: 20px; /* Added padding for better spacing */
}

#btns {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#friendBackToProfileBtn{
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-info h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #34495e;
    border-bottom: 2px solid #007BFF;
    width: 100%;
    padding-bottom: 10px;
    transition: color 0.3s;
}

.profile-info h1:hover {
    color: #0056b3;
}

.profile-info p {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
    line-height: 1.6;
}

.profile-info button, .profile-info a {
    display: block;
    margin: 10px 0;
    padding: 12px 20px; /* Increased padding */
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0, 123, 255, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.profile-info button:hover, .profile-info a:hover {
    background-color: #0056b3;
    box-shadow: 0 12px 36px rgba(62, 113, 167, 0.3);
}

.profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #e4e4e4;
    padding-left: 20px;
    text-align: center;
    width: 300px;
    min-height: 350px;
}

.profile-pic img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #007BFF;
    transition: transform 0.3s, border 0.3s;
}

.profile-pic img:hover {
    transform: scale(1.1);
    border-color: #0056b3;
}

/* update and delete buttons */
#picControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 85%;
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    width: 100%;
    max-width: 150px;
}

.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}

.upload-btn{
    font-size: 12px;
}

#updatePic,
#deletePic{font-size: 10px;}

.upload-btn,
#updatePic,
#deletePic {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
    background-color: #007BFF;
    color: white;
}

#updatePic,
#deletePic {
    margin-top: 10px;
    width: 30%;
    padding: 5px 10px;
    height: 25px;
    box-sizing: border-box;

}

#updatePic:hover{
    background-color: #00b33f;
}
#deletePic:hover {
    background-color: #fb0101;
}

.upload-btn:hover {
    background-color: #00b33f;
}

.profile-pic input[type="file"] {
    font-size: 15px;
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.profile-pic input[type="file"]:hover {
    border-color: #007BFF;
}

h1, p {
    margin: 10px 0;
}

#btns button {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 6px 18px rgba(0, 123, 255, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#btns button:hover, #btns a:hover {
    background-color: #0056b3;
    box-shadow: 0 12px 36px rgba(0, 123, 255, 0.3);
}


@media (max-width: 768px) {
    #nav {
        padding: 5px;
    }

    #nav img {
        width: 20px;
        height: 20px;
    }

    #nav-part2 {
        flex-direction: row;
        gap: 2px;
    }

    #nav-part2 h4 {
        font-size: 14px;
        padding: 6px 12px;
    }

    #loginOrProfile a {
        font-size: 14px;
    }

    #loginOrProfile img {
        width: 20px;
        height: 20px;
    }

    .profile-pic input[type="file"] {
        font-size: 12px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .profile-info {
        padding: 20px 0;
        text-align: center;
    }

    .profile-info h1 {
        font-size: 24px;
    }

    .profile-info p {
        font-size: 16px;
    }

    .profile-info button, .profile-info a {
        font-size: 14px;
    }

    .profile-pic {
        /* border-left: none;
        padding-left: 0;
        margin-top: 20px;
        width: 200px;
        min-height: 250px; */
        width: 100%;
        min-height: auto;
        border-left: none;
        padding-left: 0;
        margin-top: 20px;
    }


    .profile-pic img {
        width: 120px;
        height: 120px;
    }

    .profile-pic input {
        font-size: 14px;
    }

    .profile-pic {
        width: 100%;
        min-height: auto;
        border-left: none;
        padding-left: 0;
        margin-top: 20px;
    }


    .file-upload,
    .upload-btn,
    #updatePic,
    #deletePic {
        font-size: 10px;
        max-width: 150px;
    }

    #picControls {
        width: 55%;
    }

    #friendBackToProfileBtn{
        justify-content: center;
    }
}

@media (max-width: 480px) {
    #nav {
        padding: 0;
        /* box-shadow: none; */
    }

    #nav img {
        width: 20px;
        height: 20px;
    }

    #nav-part2 {
        flex-direction: row;
        gap: 3px;
    }

    #nav-part2 h4 {
        font-size: 12px;
        padding: 4px 10px;
    }

    #loginOrProfile a {
        font-size: 12px;
    }

    #loginOrProfile img {
        width: 18px;
        height: 18px;
    }
    .profile-pic input[type="file"] {
        font-size: 10px;
    }

    .profile-info h1 {
        font-size: 20px;
    }

    .profile-info p {
        font-size: 14px;
    }

    .profile-info button, .profile-info a {
        font-size: 12px;
        padding: 10px;
    }

    .profile-pic {
        width: 100px;
        min-height: 150px;
    }

    .profile-pic img {
        width: 100px;
        height: 100px;
    }

    .file-upload,
    .upload-btn,
    #updatePic,
    #deletePic {
        font-size: 10px;
        max-width: 120px;
    }
    #picControls {
        width: 235%;
    }
}

@media (max-width: 1024px) {
    #nav {
        align-items: flex-start;
        padding: 10px;
    }

    #nav img {
        width: 20px;
        height: 20px;
    }

    #nav-part2 {
        width: 100%;
        justify-content: space-around;
        gap: 10px;
        padding: 10px 0;
    }

    #nav-part2 h4 {
        font-size: 16px;
        padding: 8px 16px;
    }

    .profile-pic input[type="file"] {
        font-size: 14px;
    }

    .container {
        width: 90%;
    }
}

/* Friend List Styling */
.friend-list {
    margin-top: 30px;
    width: 94%;
}

.friend-list h2 {
    margin-bottom: 10px;
}

#friends {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#friends li {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
}

#friends a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#friends a:hover {
    color: #007bff;
}

