*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    
}
html,body{
    height: 100%;
    width: 100%;
}
#main {
    /* background-color: #000; */
    position: relative;
    z-index: 10;
}
#page1{
    min-height: 100vh ;
    width: 100%;
    background: #decaae;
    position: relative;
}
#nav{
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: realtive;
    z-index: 100;
    justify-content: space-between;
}
#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;

}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
    color: white;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}


#centre{
    height:60vh ;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content:space-between ;
    padding-bottom: 2.5vw;
    border-bottom: 1px solid #0000003c;
}
#left h3{
    width:25vw;
    font-size: 2.3vw;
    line-height: 2VW ;
    margin-left: 30px;

}
#centre h1{
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}
#page1 video{
    position: relative;
    width: 100%;
    border-radius: 20px;
    margin-top: 4vw;

}
#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}
#page2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
}
#moving_text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving_text::-webkit-scrollbar{
    display: none;
}


.con{
    display :inline-block ;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
#moving_text h1{
    
    font-size: 9vw;
    display:inline-block;
}
#gola{
    height: 70px;
    width: 70px;
    display: inline-block;
    border-radius: 50%;
    background-color: red;
    margin: 1vw 2vw;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2-bottom{
    height: 80vh;
    width: 100%;
    background-color: aliceblue;
    padding: 4vw ;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}
#page2-bottom h1{
    font-size: 3.5vw;
    width: 60%;
    line-height: 4vw;

}
#bottom-part2{
    width: 30%;
    background-color: aquamarine;
}
#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}
#bottom-part2 p{
    font-family: 'Times New Roman', Times, serif ;
    font-weight: 200;
    line-height: 2vw;
font-size: 1.3vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}
.elem{
    height: 150px; ;
    width: 100%;
    position: relative;
    
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;

}
.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(242, 30, 136);
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}
.elem:hover .overlay{
    top:0 ;
}
#fixed-image{
    height: 30vw;
    width: 24vw;
    /* background-color: #FE320A; */
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display:none;
    background-position: center;
    background-size: cover;

}
/* #elem-container{
    background-color: #22b12e;
} */
